.videoPlayer {
  flex: 0.8;
  background-color: #F9F9F9;
  padding: 40px 20px;
  padding-bottom: 0;
}

/* .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 50%;
    width: 50%;
    position: absolute;
  } */